* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 1440px;
  margin: 0 auto;
}
#Navbar {
  height: 142px;
  background-color: #8f8f8f;
}
#Home {
  height: 582px;
  background-color: #c4c4c4;
}
#Companies {
  height: 296px;
  background-color: #ededed;
}
#Video {
  height: 563px;
  background-color: #ababab;
}
#Features {
  height: 601px;
  background-color: #c4c4c4;
}
#USP {
  height: 808px;
  background-color: #ededed;
}
#Prices {
  height: 734px;
  background-color: #c4c4c4;
}
#Footer {
  height: 580px;
  background-color: #ededed;
}
/* ------------------HOME-STYLES---------------- */
/* ------------------FIRSTBOX---------------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.firstbox {
  width: 513px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  background-color: #ededed;
  margin-right: 123px;
}
span {
  font-size: 48px;
  margin-bottom: 29px;
}
p {
  font-size: 18px;
}
.firstboxtitle {
  background-color: #ffffff;
  padding: 12px;
}
button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-top: 24px;
  width: 195px;
  height: 51px;
  align-items: center;
}
/* ------------------SECONDBOX---------------- */
.secondbox {
  width: 286px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  background-color: #ededed;
  border-radius: 47px;
}

/* ------------------VIDEO-SECTION-STYLES---------------- */

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.videotitle {
  font-size: 48px;
  margin-top: 54px;
}
video {
  width: 717px;
  margin-bottom: 67px;
  margin-top: 50px;
}

/* ------------------PRICES-SECTION-STYLES---------------- */
.price-box {
  height: 396px;
  width: 291px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.pricebutton {
  background-color: #ebebeb;
  width: 238px;
  height: 59px;
}
.pricelabel {
  font-size: 48px;
}
.priceboxcontainer {
  display: flex;
  column-gap: 35px;
  margin-top: 50px;
  margin-bottom: 104px;
}
.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* ------------------USP-SECTION-STYLES---------------- */
.usp-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 40px;
}
.usp-card {
  width: 192px;
  height: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.usp-card-picture {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-bottom: 16px;
}
.usp-card-container {
  display: flex;
  gap: 80px;
}
